In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import nltk
import re

In [ ]:
file = '..\\data\\raw\\spam.csv'
df = pd.read_csv(file, encoding = 'latin1')
df
s_det = df.copy()

In [ ]:
s_det.info()

In [ ]:
s_det.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis = 1 , inplace = True)
s_det

In [ ]:
s_det.rename(columns = {'v1' : 'target' , 'v2' : 'text'} , inplace = True)
s_det

In [ ]:
s_det.to_csv("..\\data\\processed\\processed_spam.csv")

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

s_det['target'] = encoder.fit_transform(s_det['target'])
s_det

In [ ]:
s_det.isnull().sum()

In [ ]:
s_det.duplicated().sum()

In [ ]:
s_det.drop_duplicates(keep = 'first' , inplace = True)
s_det.info()

In [ ]:
nltk.download('stopswords')
words = stopwords.words('english')
print(words)

In [19]:
data = list()

for datas in s_det['text']:
    temp_ = re.sub('[^a-zA-Z]',' ',datas).lower().split()
    if temp_ not in words:
        temp__ = data.append([' '.join(temp_)])

print(len(data))
df = pd.DataFrame(data)
print(df)
s_det['text'] = df

s_det

5169
                                                      0
0     go until jurong point crazy available only in ...
1                               ok lar joking wif u oni
2     free entry in a wkly comp to win fa cup final ...
3           u dun say so early hor u c already then say
4     nah i don t think he goes to usf he lives arou...
...                                                 ...
5164  this is the nd time we have tried contact u u ...
5165                  will b going to esplanade fr home
5166  pity was in mood for that so any other suggest...
5167  the guy did some bitching but i acted like i d...
5168                          rofl its true to its name

[5169 rows x 1 columns]

,target,text,text_1
0,0,go until jurong point crazy available only in ...,go until jurong point crazy available only in ...
1,0,ok lar joking wif u oni,ok lar joking wif u oni
2,1,free entry in a wkly comp to win fa cup final ...,free entry in a wkly comp to win fa cup final ...
3,0,u dun say so early hor u c already then say,u dun say so early hor u c already then say
4,0,nah i don t think he goes to usf he lives arou...,nah i don t think he goes to usf he lives arou...
...,...,...,...
5567,1,NaN,NaN
5568,0,NaN,NaN
5569,0,NaN,NaN
5570,0,NaN,NaN
5571,0,NaN,NaN