In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import nltk
import re

In [2]:
file = '..\\data\\raw\\spam.csv'
df = pd.read_csv(file, encoding = 'latin1')
df
s_det = df.copy()

In [3]:
s_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [4]:
s_det.drop(columns = ['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis = 1 , inplace = True)
s_det

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
s_det.rename(columns = {'v1' : 'target' , 'v2' : 'text'} , inplace = True)
s_det

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
s_det.isnull().sum()

target    0
text      0
dtype: int64

In [7]:
s_det.duplicated().sum()

np.int64(403)

In [8]:
s_det.drop_duplicates(inplace = True)
s_det.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5169 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  5169 non-null   object
 1   text    5169 non-null   object
dtypes: object(2)
memory usage: 121.1+ KB

In [9]:
s_det.to_csv("..\\data\\processed\\processed_spam.csv", index_label= 'sn')

In [10]:
s_det = pd.read_csv("..\\data\\processed\\processed_spam.csv")

In [11]:
s_det.drop(columns=['sn'], inplace = True)

In [12]:
s_det

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5164   spam  This is the 2nd time we have tried 2 contact u...
5165    ham              Will Ì_ b going to esplanade fr home?
5166    ham  Pity, * was in mood for that. So...any other s...
5167    ham  The guy did some bitching but I acted like i'd...
5168    ham                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

s_det['target'] = encoder.fit_transform(s_det['target'])
s_det

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5164       1  This is the 2nd time we have tried 2 contact u...
5165       0              Will Ì_ b going to esplanade fr home?
5166       0  Pity, * was in mood for that. So...any other s...
5167       0  The guy did some bitching but I acted like i'd...
5168       0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [14]:
s_det.reset_index(drop= True)
s_det

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5164       1  This is the 2nd time we have tried 2 contact u...
5165       0              Will Ì_ b going to esplanade fr home?
5166       0  Pity, * was in mood for that. So...any other s...
5167       0  The guy did some bitching but I acted like i'd...
5168       0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [15]:
nltk.download('stopswords')
words = stopwords.words('english')
print(words)

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

[nltk_data] Error loading stopswords: Package 'stopswords' not found
[nltk_data]     in index

In [16]:
s_det

      target                                               text
0          0  Go until jurong point, crazy.. Available only ...
1          0                      Ok lar... Joking wif u oni...
2          1  Free entry in 2 a wkly comp to win FA Cup fina...
3          0  U dun say so early hor... U c already then say...
4          0  Nah I don't think he goes to usf, he lives aro...
...      ...                                                ...
5164       1  This is the 2nd time we have tried 2 contact u...
5165       0              Will Ì_ b going to esplanade fr home?
5166       0  Pity, * was in mood for that. So...any other s...
5167       0  The guy did some bitching but I acted like i'd...
5168       0                         Rofl. Its true to its name

[5169 rows x 2 columns]

In [17]:
data = list()

for datas in s_det['text']:
    temp_ = re.sub('[^a-zA-Z]',' ',datas).lower().split()
    if temp_ not in words:
        temp__ = data.append([' '.join(temp_)])

# print(data)
df = pd.DataFrame(data)

s_det['text_1'] = df

In [18]:
s_det

,target,text,text_1
0,0,"Go until jurong point, crazy.. Available only ...",go until jurong point crazy available only in ...
1,0,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in a wkly comp to win fa cup final ...
3,0,U dun say so early hor... U c already then say...,u dun say so early hor u c already then say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...
...,...,...,...
5164,1,This is the 2nd time we have tried 2 contact u...,this is the nd time we have tried contact u u ...
5165,0,Will Ì_ b going to esplanade fr home?,will b going to esplanade fr home
5166,0,"Pity, * was in mood for that. So...any other s...",pity was in mood for that so any other suggest...
5167,0,The guy did some bitching but I acted like i'd...,the guy did some bitching but i acted like i d...
5168,0,Rofl. Its true to its name,rofl its true to its name

In [19]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

spam_msg = list()


for msg in s_det['text_1']:
    words = msg.split()
    stemmed_word = list()
    for word in words:
        # stemmed_word = 
        stemmed_word.append(stemmer.stem(re.sub('[^a-zA-Z]' , '' , word)))
    spam_msg.append([' '.join(stemmed_word)])


df1 = pd.DataFrame(spam_msg)

s_det['text_2'] = df1

print(df1)

                                                      0
0     go until jurong point crazi avail onli in bugi...
1                                 ok lar joke wif u oni
2     free entri in a wkli comp to win fa cup final ...
3           u dun say so earli hor u c alreadi then say
4     nah i don t think he goe to usf he live around...
...                                                 ...
5164  thi is the nd time we have tri contact u u hav...
5165                      will b go to esplanad fr home
5166      piti wa in mood for that so ani other suggest
5167  the guy did some bitch but i act like i d be i...
5168                            rofl it true to it name

[5169 rows x 1 columns]

In [20]:
s_det

,target,text,text_1,text_2
0,0,"Go until jurong point, crazy.. Available only ...",go until jurong point crazy available only in ...,go until jurong point crazi avail onli in bugi...
1,0,Ok lar... Joking wif u oni...,ok lar joking wif u oni,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in a wkly comp to win fa cup final ...,free entri in a wkli comp to win fa cup final ...
3,0,U dun say so early hor... U c already then say...,u dun say so early hor u c already then say,u dun say so earli hor u c alreadi then say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...,nah i don t think he goe to usf he live around...
...,...,...,...,...
5164,1,This is the 2nd time we have tried 2 contact u...,this is the nd time we have tried contact u u ...,thi is the nd time we have tri contact u u hav...
5165,0,Will Ì_ b going to esplanade fr home?,will b going to esplanade fr home,will b go to esplanad fr home
5166,0,"Pity, * was in mood for that. So...any other s...",pity was in mood for that so any other suggest...,piti wa in mood for that so ani other suggest
5167,0,The guy did some bitching but I acted like i'd...,the guy did some bitching but i acted like i d...,the guy did some bitch but i act like i d be i...
5168,0,Rofl. Its true to its name,rofl its true to its name,rofl it true to it name